*.lock
*.log
*.zip
*.index
*.snap
*.properties
*.resources
*.prefs
*.xmi
*.txt
*.dat
*.gen
*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
*.mark
*.ini
*.running